.DS_Store
*.iml
.idea/*
**/.idea/*
**/.DS_Store
**/__pycache__/*
**/*.iml

HELP.md
.gradle
build/
!build/build.js
!build/check-versions.js
!build/dev-client.js
!build/dev-server.js
!build/load-minified.js
!build/logo.png
!build/service-worker-dev.js
!build/service-worker-prod.js
!build/utils.js
!build/vue-loader.conf.js
!build/webpack.base.conf.js
!build/webpack.dev.conf.js
!build/webpack.prod.conf.js
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
